@import '../../variables';

.search {
  margin-bottom: 40px; 
  
  input {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px silver solid;
    -webkit-appearance: none;
    height: 40px;
    padding: 5px;
    background-color: transparent;
    z-index: 1;
    position: relative;
    width: 100%;
  }
}