@import '../variables.scss';

.book_container {
  overflow: scroll;
  max-height: calc(100vh - 180px);
  padding-bottom: 40px;

  .book_holder {
    border: 1px gray solid;
    display: flex;
    min-height: 85px;
    margin-bottom: 20px;

    div {
      flex: 3;
      padding: 10px;

      p {
        margin: 0;
      }
      &.delete {
        flex: 1;
        border-left: 1px green dashed;

        &:after {
          content: 'x';
          color: $alert;
          display: inline-block;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 3em;
        }
      }
    }
  }
}