@import '../variables.scss';

.frow {
  .input_wrapper {
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    
    input {
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px silver solid;
      -webkit-appearance: none;
      height: 40px;
      padding: 5px;
      background-color: transparent;
      z-index: 1;
      position: relative;
      width: 100%;
    }
    
    &:after {
      content: attr(data-label);
      position: absolute;
      left: 5px;
      top: 10px;
      z-index: 0;
      color: silver;
      font-family: arial;
      transition-duration: 250ms;
    }
    
    &.filled {
      &:after {
        font-size: 0.65em;
        top: 5px;
      }
      
      input {
        padding-top: 20px;
      }
    }
  }

  button {
    width: 50%;
    height: 40px;
    background-color: $base;
    color: white;
    border: 1px $base solid;
    margin-top: 40px;

    &[type="reset"] {
      color: $base;
      background-color: white; 
      border-color: $base;
    }
  }

  &.message{
    p {
      text-align: center;
      margin: 40px 0;
      //border: 1px $highlight solid;
      background-color: $alert;
      padding: 20px;
      color: white;
    }
  } 
}